name: Build, Test, and Publish

on: 
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main 
  workflow_dispatch:

jobs:
  build-test-and-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
    - run: |
        /bin/bash run.sh install
        /bin/bash run.sh build
        /bin/bash run.sh publish:test
      env:
        TEST_PYPI_TOKEN: ${{ secrets.TEST_PYPI_TOKEN }}

  dump_contexts_to_log:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(secrets) }}'

    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install pre-commit
    # - name: Analysing the code with pylint
    #   run: |
    #     SKIP=no-commit-to-branch pre-commit run --all-files
